<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot | Inicio</title>
    <link rel="stylesheet" href="/lib/bootstrap-5.2.3/css/bootstrap.min.css">
</head>
<body>
    
    <!-- Navegacion -->
    <nav class="navbar"  style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/bot_icon.png"  alt="Logo" width="40" height="40" class="text-center">
            BOT-008
          </a>
        </div>
    </nav>
    <!-- END Navegacion -->

    <!-- Contenido inicio de sesion en Bot -->
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                BOT-008
            </div>
            <div class="card-body">
              <h5 class="card-title">Tienes una sesión activa en BOT-008</h5>
                <div class="card" style="width: 18rem;">
                    <img src="/img/activo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">Su sesión esta iniciada correctamente y BOT-008 está a la espera de mensajes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>