<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot | Inicio de sesión WhatsApp</title>
    <link rel="stylesheet" href="/lib/bootstrap-5.2.3/css/bootstrap.min.css">
</head>
<body>
    
    <!-- Navegacion -->
    <nav class="navbar"  style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/bot_icon.png"  alt="Logo" width="40" height="40" class="text-center">
            BOT-008
          </a>
        </div>
    </nav>
    <!-- END Navegacion -->

    
    <% if (qrr) { %>
        <img src="<%= qrr %>" alt="">    
    <% } %>

    <!-- Contenido inicio de sesion en Bot -->
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                Inicio de sesión en BOT-008
            </div>
            <div class="card-body">
              <h5 class="card-title">Escanear código QR desde su WhatsApp</h5>
              <p class="card-text">Se requiere que abra su WhatsApp, luego presiones los 3 puntos, dispositivos vinculados, vincular un dispositivo </p>
                <div class="card" style="width: 18rem;">
                    <img src="/img/esperando.png" id="qr" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">IMPORTANTE</h5>
                    <p class="card-text"><% if (mensaje) { %> <%= mensaje %> <% } %><!-- El código QR irá cambiando mientras no tenga una sesión de WhatsApp activa --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      socket.on('qr', (data)=> {
        document.getElementById('qr').setAttribute('src', data)
      })
      socket.on('session_iniciada', (data)=> {
        const direccion = String(window.location).slice(0, -25);
        window.location.href = direccion;
      })
    </script>
</body>
</html>